[init]
	defaultBranch = main
[user]
	name = angelluvslots
	email = vvoid127@gmail.com
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[alias]
	stat = status
	com = commit -m
	up = add -u
	all = add -A
	ls = ls-tree --full-tree --name-only HEAD
	lsr = ls-tree --full-tree --name-only -r HEAD
