@import "mocha.css";

window {
  background-color: transparent;
  font: 24px "JetBrainsMono Nerd Font Propo";
  color: @text;
}

.modules-left, .modules-center, .modules-right {
  margin: 32px calc(32px - 0.5em) 0px calc(32px - 0.5em);
}

tooltip {
  background-color: alpha(@base, 0.6);
  padding: 0 0.75em;
  margin: 0 0.5em;
  border-radius: 30px;
  color: @text;
  font-size: 24px;
}
tooltip label {
}

#battery, #clock, #workspaces, #window, #temperature, #pulseaudio-slider, #pulseaudio, #cava {
  background-color: alpha(@base, 0.6);
  padding: 0 0.75em;
  margin: 0 0.5em;
  border-radius: 30px;
}

#cava {
  color: @teal;
}

#pulseaudio {
  color: @teal;
}

#pulseaudio-slider {
  padding: 0 calc(0.75em + 6px);
}
#pulseaudio-slider slider {
    min-height: 12px;
    background-color: @rosewater;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border: none;
    border-radius: 1000px;
    background-color: alpha(@surface0, 0.6);
}
#pulseaudio-slider highlight {
    border-radius: 1000px;
    background-color: @rosewater;
}

#window {
  color: @rosewater;
}

#temperature {
  color: @green;
}

#workspaces {
  padding: 0 0.5em;
}

#workspaces button label {
  color: @overlay1;
  transition: all 0.5s;
  background: none;
}

#workspaces button:hover {
  border: none;
  outline: transparent;
  background: none;
}

#workspaces button:hover label {
  color: @subtext0;
}

#workspaces button.active:hover label {
  color: @teal;
}

#workspaces button.active label {
  color: @rosewater;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    background: none;
}

button:hover {
    background: inherit;
    box-shadow: none;
}

#clock {
  color: @yellow;
}

#battery {
  color: @green;
}

#battery.warning {
  color: @yellow;
}
