/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #ed8796;
  --yellow: #f9e2af;
  --teal: #94e2d5;
  --text: #cdd6f4;
  --overlay-2: #9399b2;
  --overlay-1: #7f849c;
  --overlay-0: #6c7086;
  --surface-1: #45475a;
  --surface-0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
  --brad: 0.25rem;
  font-size: 16px;
}

i {
  margin-right: 0.5rem;
}

body {
  color: var(--pink);
  font-family: "JetBrainsMono Nerd Font Propo";
  overflow: hidden;
}

:root,
body,
#root {
  height: 100%;
}

#root {
  background-color: var(--base);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
}

.left,
.center,
.right {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  gap: 1rem;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
  color: var(--pink);
}

.workspaces {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.workspace i {
  margin: 0;
}

.workspace {
  padding: 0;
  background: transparent;
  color: var(--overlay-0);
  border: none;
  border-radius: var(--brad);
  cursor: pointer;

  &.focused,
  &:hover {
    color: var(--pink);
  }
}

.tiling-direction {
  background: var(--surface-0);
  color: var(--pink);
  border-radius: var(--brad);
  line-height: 1;
  border: 0;
  cursor: pointer;
}
