.app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  align-items: center;
}

.left,
.center,
.right {
  width: fit-content;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: var(--brad);
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}
