.button {
  height: 100%;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: var(--button-color);
  transform: scale(100%);
  transition: color var(--trans);
  transition: transform var(--trans);
}

.buttons:hover .button {
  color: var(--ctp-mocha-surface0);
  transform: scale(75%);
  &:hover {
    transform: scale(100%);
  }
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 1.5rem;
  border-radius: var(--brad);
  background: var(--ctp-mocha-surface0);
  transition: background var(--trans);
  &:hover {
    background: var(--buttons-color);
  }
}
