@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

:root {
  --color-text: var(--ctp-mocha-text);
  --color-bg-0: var(--ctp-mocha-base);
  --color-bg-0-rgb: var(--ctp-mocha-base-rgb);
  --color-surface-0: var(--ctp-mocha-surface0);
  --color-accent-0: var(--ctp-mocha-pink);
  --color-accent-1: var(--ctp-mocha-mauve);
  --color-accent-2: var(--ctp-mocha-teal);
  --color-accent-3: var(--ctp-mocha-yellow);
  --color-accent-4: var(--ctp-mocha-maroon);
  --color-accent-5: var(--ctp-mocha-green);
  --color-weather-high: var(--ctp-mocha-red);
  --color-weather-medium: var(--ctp-mocha-yellow);
  --color-weather-low: var(--ctp-mocha-blue);
  --color-date: var(--color-accent-1);
  --color-time: var(--color-accent-2);
  --color-tiling-dir-h: var(--color-accent-2);
  --color-tiling-dir-v: var(--color-accent-3);
  --color-media-previous: var(--color-accent-1);
  --color-media-pause: var(--color-accent-0);
  --color-media-next: var(--color-accent-1);
  --brad: 0.25rem;
  --trans: 0.25s;
  overflow: hidden;
  font-size: 18px;
  font-family: "JetBrainsMono Nerd Font Propo";
  color: var(--color-text);
  background-color: rgba(var(--color-bg-0-rgb) / 75%);
}

.workspace-color[data-workspace-name="1"] {
  color: var(--color-accent-0);
}
.workspace-color[data-workspace-name="2"] {
  color: var(--color-accent-1);
}
.workspace-color[data-workspace-name="3"] {
  color: var(--color-accent-2);
}
.workspace-color[data-workspace-name="4"] {
  color: var(--color-accent-3);
}
.workspace-color[data-workspace-name="5"] {
  color: var(--color-accent-4);
}
.workspace-color[data-workspace-name="6"] {
  color: var(--color-accent-5);
}

:root,
body,
#root {
  height: 100%;
}

.nf {
  font-size: 125%;
  text-align: center;
}
