/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

:root {
  --brad: 0.25rem;
  --trans: 0.25s;
  overflow: hidden;
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font Propo";
  color: var(--ctp-mocha-text);
  background-color: rgba(var(--ctp-mocha-base-rgb) / 75%);
}

:root,
body,
#root {
  height: 100%;
}

.nf {
  margin-right: 0.75rem;
  &.no-margin {
    margin-right: 0;
  }
}


.workspace-color[data-workspace-name="1"] {
  color: var(--ctp-mocha-pink);
}
.workspace-color[data-workspace-name="2"] {
  color: var(--ctp-mocha-mauve);
}
.workspace-color[data-workspace-name="3"] {
  color: var(--ctp-mocha-teal);
}
.workspace-color[data-workspace-name="4"] {
  color: var(--ctp-mocha-yellow);
}
.workspace-color[data-workspace-name="5"] {
  color: var(--ctp-mocha-maroon);
}
.workspace-color[data-workspace-name="6"] {
  color: var(--ctp-mocha-green);
}
