.weather {
  display: flex;
  flex-flow: row;
  gap: 0.75rem;
  align-items: center;
}

.weather[data-temp="high"] .nf {
  color: var(--color-weather-high);
}
.weather[data-temp="medium"] .nf {
  color: var(--color-weather-medium);
}
.weather[data-temp="low"] .nf {
  color: var(--color-weather-low);
}
