/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url("https://unpkg.com/@catppuccin/palette/css/catppuccin.css");

:root {
  --brad: 0.25rem;
  --trans: 0.25s;
  overflow: hidden;
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font Propo";
  color: var(--ctp-mocha-pink);
  background-color: rgba(var(--ctp-mocha-base-rgb) / 75%);
}

:root,
body,
#root {
  height: 100%;
}

.nf {
  margin-right: 0.75rem;
  &.no-margin {
    margin-right: 0;
  }
}

.button {
  background: transparent;
  height: 1.5rem;
  cursor: pointer;
  border: 0;
  color: var(--ctp-surface0);
  transition: color var(--trans);
  &:hover {
    color: var(--ctp-mocha-pink);
  }
}

.button-bg .button {
  transition: transform var(--trans);
}

.button-bg:hover .button {
  color: var(--ctp-mocha-surface0);
  transform: scale(75%);
  &:hover {
    transform: scale(100%);
  }
}

.button-bg {
  height: 1.5rem;
  border: 0;
  border-radius: var(--brad);
  color: var(--ctp-mocha-pink);
  background: var(--ctp-mocha-surface0);
  transition: background var(--trans);
  &:hover {
    color: var(--ctp-mocha-surface0);
    background: var(--ctp-mocha-pink);
  }
}

.separator {
  font-size: 125%;
}

.app {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  height: 100%;
  color: var(--ctp-mocha-pink);
}

.left,
.center,
.right {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  gap: 1rem;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.media .nf {
  font-size: 75%;
}

.media {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1rem;
}

.media-buttons {
  display: flex;
  flex-flow: row nowrap;
}

.process-name {
  color: var(--ctp-mocha-overlay0);
  transition: color var(--trans);
  &.focused {
    color: var(--ctp-mocha-pink);
  }
}

.workspaces {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.workspace .nf {
  font-size: 125%;
}

.workspace {
  padding: 0;
  background: transparent;
  color: var(--ctp-mocha-overlay0);
  border: none;
  border-radius: var(--brad);
  cursor: pointer;
  transition: transform var(--trans);
  &.focused,
  &:hover {
    transform: scale(125%);
  }
}

.workspace-color[data-workspace-name="1"] {
  color: var(--ctp-mocha-pink);
}
.workspace-color[data-workspace-name="2"] {
  color: var(--ctp-mocha-mauve);
}
.workspace-color[data-workspace-name="3"] {
  color: var(--ctp-mocha-teal);
}
.workspace-color[data-workspace-name="4"] {
  color: var(--ctp-mocha-yellow);
}
.workspace-color[data-workspace-name="5"] {
  color: var(--ctp-mocha-maroon);
}
.workspace-color[data-workspace-name="6"] {
  color: var(--ctp-mocha-green);
}
